html,
body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Neon_Thin';
    src: url('../font/Neon_Thin.TTF');
}

@font-face {
    font-family: 'Neon';
    src: url(../font/Neon.ttf);
}


@-webkit-keyframes neon_light {
  from {
    text-shadow: 0 0 5px rgb(193, 223, 255), 0 0 10px rgb(193, 223, 255), 0 0 15px rgb(193, 223, 255), 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
  to {
    text-shadow: 0 0 2.5px rgb(193, 223, 255), 0 0 5px rgb(193, 223, 255), 0 0 7.5px rgb(193, 223, 255), 0 0 10px #228DFF, 0 0 17.5px #228DFF, 0 0 20px #228DFF, 0 0 25px #228DFF, 0 0 23.5px #228DFF;
  }
}

.container {
    display: grid;
    grid-template-rows: 100px auto 200px;
}

.nav {
    background: black;
    display: flex;
    justify-content: center;
}

.nav-item {
    margin-left: 20px;
    line-height: 100px;
}

.nav-item:first-child {
    margin-left: 0;
}

.nav-item a {
    text-decoration: none;
    color: #228DFF;
    font-family: 'Neon_Thin';
    font-size: 25px;
    text-transform: uppercase;
    transition: 50ms ease-in-out;
}

.nav-item a:hover {
    -webkit-animation: neon_light 1.5s ease-in-out infinite alternate;
    -moz-animation: neon_light 1.5s ease-in-out infinite alternate;
    animation: neon_light 1.5s ease-in-out infinite alternate;
    color: white;
    cursor: pointer;
}

.nav-brand {
    position: absolute;
    left: 30px;
    color: #228DFF;
    font-family: 'Neon';
    font-size: 50px;
    line-height: 100px;
    transition: 50ms ease-in-out;
}

.nav-brand:hover {
    -webkit-animation: neon_light 1.5s ease-in-out infinite alternate;
    -moz-animation: neon_light 1.5s ease-in-out infinite alternate;
    animation: neon_light 1.5s ease-in-out infinite alternate;
    color: white;
    cursor: pointer;
}

.content {
    padding-top: 20px;
    padding-left: 90px;
    padding-right: 90px;
    
}
.grider{
    display: grid;
    grid-template-columns: 400px minmax(600px, auto);
    grid-column-gap: 60px;
}
.footer {
    background: black;
    margin-top: 20px;
}
.box{
    
}
.box > .imagineDragons{
    grid-column-start: 1;
    grid-column-end: 2;
}
.grid-text{
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: 80px;
}
.theme{
    font-size: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}
.text{
    
    font-family: Arial;
    font-size: 22px;
    margin-bottom: 20px;
}
.grid-img{
   
    
}
.imagineDragons{
    position: relative;
    display: flex;
}
.next-to{
    width: 400px;
}