body {
    margin: 0;
    padding: 0;
}

.navigation_bar {
    margin-bottom: 40px;
    margin: 0;
    padding: 1px;
    background: #070B19;
    width: 99vw;
    height: 50px;
}

.link_to_pages {
    margin: 20px;
    padding: 20px;
    width: 20px;
    height: 30px;
}
.list_link > li {
    text-decoration: none;
    display: inline-block;
    color: antiquewhite;
}
.link:first-child {
    margin-left: 0;
}
.link a{
    display: flex;
    justify-content: center;
    margin-left: 12px;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.content {
    border-bottom-color: skyblue;
    padding: 18px;
    margin: 30px;
    margin-top: 20px;
    padding-right: 600px;
    display: grid;
    grid-template-columns: 600px minmax(600px, auto);
    grid-column-gap: 50px;
}

.grid-text {
    grid-column-start: 1;
    grid-column-end: 2;
}

.grid-image {
   grid-column-start: 2;
   grid-column-end: 3;
   margin-top: 65px;
}

.text_h1{
    font-size: 32px;
    font-style: italic;
    margin-bottom: 1px;
    padding-bottom: 1px;
    
}
.text{
    margin-top: 1px;
    padding-bottom:0;
    font-size: 20px;
}
.img {
    display: flex;
    position: relative;
}